html,body{
	width:99.5%;
	background-color: black;
}

.headerContainer{
	background-color: red;
}

.container{
	font-size: 5em;
}

.mainContainer{
	background-color: blue;
	width: 75%;
	float: left;
}

.secondaryContainer{
	background-color: green;
	width: 25%;
	float: left;
}

.footerContainer{
	background-color: yellow;
}

.clearFloat{
	clear:both;
}