.bigImg{
	width: 96%;
	padding: 2%;
	text-align: center;
}
.mediumImg{
	width: 96%;
	padding: 2%;
	text-align: center;
}
.imgAlignCenter{
    text-align:center;
    margin-top:2%;
    margin-bottom:2%;
    padding:0;
}
.imgAlignLeft{
	margin:0.5% 1.5% 1.5% 0;
	float:left;
}
.imgAlignCenterTop{
	margin-bottom:2%;
    padding:0;
    text-align:center;
}

#containerS{
	width:90%;
	height:202px;
	padding:0px;
	margin-top:10%;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  	background: black;
}
#image-slider-wrapper{
	overflow: hidden;
	padding-top:0;
	margin:0;

}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 50%;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}